<div class="header">
    <h2>Dodaj rozszerzenie</h2>
</div>

<div class="container">
    <form action="{{ path('cmscomponent_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:CMSComponent:_form.html.twig' with { 'form': form } %}
    </form>
</div>