{% use 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block sonata_admin_orm_one_to_many_widget %}

    <div id="field_container_{{ id }}" class="field-container">
        <span id="field_widget_{{ id }}">
            {{ form_widget(form) }}
        </span>
    </div>

{% endblock %}