{{ form_widget(form._token) }}

<div class="dane_element_big">
    {{ form_row(form.metadata.title) }}
</div>

<div class="dane_element_big">
    {{ form_row(form.metadata.description) }}
</div>

<div class="dane_element_big">
    {{ form_row(form.metadata.keyword) }}
</div>