{% extends "::base.html.twig" %}

{% block title %}
    PureThink - File Browse
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/helper.js') }}"></script>
    <script src="{{ asset('js/file/fileBrowse.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div id="file_browse">
        <div id="file_browse_top">
            <h2>Przeglądaj pliki</h2>
        </div>

        <div id="file_borwse_list">
            {% include 'MyFileBundle:FileBrowse:_list.html.twig' with { 'entities': entities } %}
        </div>
    </div>
{% endblock body %}