{% extends "::base.html.twig" %}

{% block title %}
    PureThink - File Browse
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins/jquery.qtip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/purethink.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts
        '@jquery'
        '@jquery_ui'
        '@underscore'
        '@backbone'
        '@helper'
        '@MyBackendBundle/Resources/public/js/plugin/jquery.qtip.js'
        '@MyBackendBundle/Resources/public/js/plugin/jquery.multidrag.table.js'
        '@MyBackendBundle/Resources/public/js/model/pagination.model.js'
        '@MyBackendBundle/Resources/public/js/model/list.model.js'
        '@MyBackendBundle/Resources/public/js/view/pagination.view.js'
        '@MyBackendBundle/Resources/public/js/view/list.view.js'
        '@MyBackendBundle/Resources/public/js/select.js'
        '@MyBackendBundle/Resources/public/js/links.js'
        '@MyFileBundle/Resources/public/js/fileBrowse.js'
        filter="uglifyjs2"
        output='js/compiled/fileBrowse.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
    <div id="file_browse">
        <div id="file_borwse_list"></div>
        <div id="file_borwse_footer">
            <div id="file_borwse_pagination">
                {% include 'MyBackendBundle:Default:_pagination.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}