<div id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
                    "template": "PurethinkCMSBundle:Frontend:_news.html.twig",
                    "slug": "lorem-ipsum-dolom-news-1"
                } }) }}
            </div>
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
                    "template": "PurethinkCMSBundle:Frontend:_news.html.twig",
                    "slug": "lorem-ipsum-dolom-news-2"
                } }) }}
            </div>
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
                    "template": "PurethinkCMSBundle:Frontend:_news.html.twig",
                    "slug": "lorem-ipsum-dolom-news-3"
                } }) }}
            </div>
        </div>
    </div>
</div>