<form id="search-form" action="{{ path('purethink_cms_frontend_searchlist', { 'locale': app.request.locale }) }}" method="GET">
    <div id="search_box">
        <input name="query" type="text" placeholder="Wyszukaj na stronie..." />
        <i class="fa fa-search"></i>
    </div>
</form>