{% extends "PurethinkCMSBundle:Frontend:layout.html.twig" %}

{% set meta = article %}

{% block body %}
    {{ parent() }}

    <div id="article">
        <div class="container">
            {{ sonata_block_render({ "type": "purethink.cms.block.article", "settings": {
                "slug": article.slug
            } }) }}
        </div>
    </div>

    {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
        "template": "PurethinkCMSBundle:Frontend:_link.html.twig",
        "slug": "linki"
    } }) }}

    {% include 'PurethinkCMSBundle:Frontend:_footer.html.twig' %}
{% endblock body %}