//
// Login
// --------------------------------------------------

#login_container {
    position: relative;
    float: left;
    margin: 50px auto 0 auto;
    width: 420px;

    > ul.links {
        position: relative;
        float: left;
        list-style: none;
        margin-left: 20px;

        li {
            font-size: 11px;
            margin-top: 10px;

            a {
                color: #21759B;
                font-size: 11px;
                text-decoration: underline;

                &:hover {
                    color: #EB3C00;
                }
            }
        }
    }

    > #login {
        position: relative;
        background: #F8F8F8;
        border: 1px solid #d3d3d3;
        -moz-box-shadow: 0 0 20px #e4e4e4;
        -webkit-box-shadow: 0 0 20px #e4e4e4;
        box-shadow: 0 0 20px #e4e4e4;
        border-radius: 4px;
        padding: 20px 0 15px 0;

        p {
            font-size: 12px;
            padding: 0 10px;
        }

        label {
            float: left;
            font-size: 11px;
            color: #070707;
            margin-left: 20px;
        }

        #remember_me_container {
            position: relative;
            float: left;
            width: 380px;
            margin: 0 0 0 20px;

            label {
                margin-left: 10px;
            }
        }

        input[type="text"],
        input[type="password"] {
            position: relative;
            float: left;
            height: 28px;
            width: 358px;
            border: 1px solid @main-field-border-color;
            font-size: 16px;
            color: #070707;
            padding: 2px 10px;
            border-radius: 3px;
            margin: 0 0 10px 20px;
        }

        input[type="checkbox"] {
            position: relative;
            float: left;
            opacity: .7;
        }

        input:focus {
            border: 1px solid #008dcf;
            -moz-box-shadow: 0 0 10px #c6c6c6;
            -webkit-box-shadow: 0 0 10px #c6c6c6;
            box-shadow: 0 0 10px #c6c6c6;
        }

        #submit_container {
            position: relative;
            margin: 0 auto;
            padding-top: 10px;
            width: 102px;
            height: 27px;
            clear: both;
        }

        #_submit {
            position: relative;
            .edit_container_button_gradient;
            border: 1px solid #84CC5E;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            height: 25px;
            width: 100px;
            padding: 0 0 2px 0;
            text-align: center;
            cursor: pointer;
            color: #fff;
            font-size: 12px;

            &:hover {
                .edit_container_button_hover_gradient;
            }
        }
    }

    .error_list {
        margin: 0 0 10px 20px;
        color: #DD4B39;
        width: 100%;
        font-size: 12px;

        ul {
            list-style: none;
        }
    }
}