<div class="flash-message">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div type="{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>