<ul id="pagination_count">
    <li class="total">Suma:</li>
    <li class="total_count">100 pozycji</li>
    <li class="active_count">37 aktywnych</li>
    <li class="deactive_count">63 zaznaczonych</li>
</ul>

<div id="pagination">
    {% include 'MyBackendBundle:Default:_pagination.html.twig' %}
</div>