<div id="pagination">
    <div class="pagination">
        {% include 'MyBackendBundle:Default:_pagination.html.twig' %}
    </div>

    {% include 'MyBackendBundle:Default:_number_of_lines.html.twig' %}
</div>  