<li>
	<a class="language">Języki</a>
	<div class="edit">
		<button class="new">Nowy</button>
		<button class="edit">Edytuj</button>
		<button class="remove">Usuń</button>
	</div>
	<ul class="submenu_left">
		<li class="selected"><a href="#">Angielski</a></li>
		<li><a href="#">Polski</a></li>
		<li><a href="#">Czeski</a></li>
	</ul>
</li>
<li>
	<a class="group">Grupy</a>
	<div class="edit">
		<button class="new">Nowy</button>
		<button class="edit">Edytuj</button>
		<button class="remove">Usuń</button>
	</div>
	<ul class="submenu_left">
		<li><a href="#">Lorem Ipsum dolom</a></li>
		<li class="selected"><a href="#">Lorem Ipsum dolom</a></li>
		<li><a href="#">Lorem Ipsum dolom</a></li>
	</ul>
</li>