<div class="left">
	<button id="create">Utwórz</button>
</div>
<div class="center">
	<button class="select"></button>
	<button class="refresh"></button>
	<button class="edit"></button>
	<button class="remove"></button>
	<button class="more"></button>
</div>