<li><a href="#">Użytkownicy</a></li>
<li><a href="#">Menu</a></li>
<li class="selected"><a href="#">Artykuły</a></li>
<li><a href="#">Komponenty</a></li>
<li><a href="#">Rozszerzenia</a></li>
<li><a href="#">Szablony</a></li>
<li><a href="#">Pliki</a></li>
<li><a href="#">Pomoc</a></li>