<a id="pagination_first"><img src="{{ asset('images/first.png') }}" alt="first" /></a>
<a id="pagination_previous"><img src="{{ asset('images/previous.png') }}" alt="previous" /></a>

<div id="str">
    <span id="str_selected">1</span>
    <span>2</span>
    <span>3</span>
</div>

<a id="pagination_next"><img src="{{ asset('images/next.png') }}" alt="next" /></a>
<a id="pagination_last"><img src="{{ asset('images/last.png') }}" alt="last" /></a>