<div class="pagination">
    <a class="first"><i class="fa fa-angle-double-left"></i></a>
    <a class="previous"><i class="fa fa-angle-left"></i></a>

    <div class="pages"></div>

    <a class="next"><i class="fa fa-angle-right"></i></a>
    <a class="last"><i class="fa fa-angle-double-right"></i></a>
</div>