<a id="pagination_first"><i class="fa fa-angle-double-left"></i></a>
<a id="pagination_previous"><i class="fa fa-angle-left"></i></a>

<div id="str"></div>

<a id="pagination_next"><i class="fa fa-angle-right"></i></a>
<a id="pagination_last"><i class="fa fa-angle-double-right"></i></a>