/web/assetic/*
/web/bundles/*
/app/bootstrap*
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/vendor/
/bin/
/app/config/parameters.yml
/web/uploads/media/*
!web/uploads/media/.gitkeep
*~