<div class="header">
    <h2>Edycja kolumne rozszerzenia</h2>
</div>

<div class="container">
    <form action="{{ path('cmscomponenthascolumn_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="POST" />
        {% include 'MyCMSBundle:CMSComponentHasColumn:_form.html.twig' with { 'form': form } %}
    </form>
</div>