<div class="header">
    <h2>Dodaj kolumne rozszerzenia</h2>
</div>

<div class="container">
    <form action="{{ path('cmscomponenthascolumn_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:CMSComponentHasColumn:_form.html.twig' with { 'form': form } %}
    </form>
</div>