<div class="header">
    <h2>Dodaj użytkownika</h2>
</div>

<div class="container">
    <form action="{{ path('purethink_user_user_new') }}" method="post" {{ form_enctype(form) }}>
        {% include 'PurethinkUserBundle:User:_form.html.twig' with { 'form': form } %}
    </form>
</div>