<form action="{{ path('cmsarticle_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <input type="hidden" name="_method" value="POST" />
    {% include 'MyCMSBundle:CMSArticle:_form.html.twig' with { 'form': form } %}
</form>