<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PureThink{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/plugins/jquery-2.0.3.min.js') }}"></script>
        {% endblock %}
        {% block icon %}
            <link rel="icon" type="image/x-icon" href="{{ asset('purethink.ico') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
