<div class="header">
    <h2>Dodaj komponent</h2>
</div>

<div class="container">
    <form action="{{ path('my_cms_component_new') }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:Component:_form.html.twig' with { 'form': form } %}
    </form>
</div>