<div id="baner">
    <div class="container">
        {% for key, baner in baners if key != 'title' %}
            <a href="{{ path('article', { 'locale': locale, 'slug': baner['adres'] }) }}">
                <img src="{{ asset('uploads/' ~ baner['fotografia']) }}" alt="{{ baner['nazwa'] }}" />
            </a>
        {% endfor %}
    </div>
</div>