<div id="footer">
    <div class="container">
        <div class="left">
            {{ render(controller('MyCMSBundle:CMSFrontend:menu', {
                'slug' : 'Footer',
                'home' : true,
                'login': true
            })) }}
        </div>
        <div class="right">
            <span>All righgts reserved 2013.</span>
        </div>
    </div>
</div>