<div id="footer">
    <div class="container">
        <div class="left">
            {% if menus['Footer'] is defined %}
                {% include 'MyCMSBundle:CMSFrontend:_menu.html.twig' with { 'menus': menus['Footer'], 'locale': locale, 'home': true, 'login': true } %}
            {% endif %}
        </div>
        <div class="right">
            <span>All righgts reserved 2013.</span>
        </div>
    </div>
</div>