<div id="news">
    <div class="container">
        <div class="left">
            {{ render(controller('MyCMSBundle:CMSFrontend:component', {
                'slug'    : 'lorem-ipsum-dolom-news-1',
                'template': 'MyCMSBundle:CMSFrontend:_news.html.twig'
            })) }}
        </div>
        <div class="center">
            {{ render(controller('MyCMSBundle:CMSFrontend:component', {
                'slug'    : 'lorem-ipsum-dolom-news-2',
                'template': 'MyCMSBundle:CMSFrontend:_news.html.twig'
            })) }}
        </div>
        <div class="right">
            {{ render(controller('MyCMSBundle:CMSFrontend:component', {
                'slug'    : 'lorem-ipsum-dolom-news-3',
                'template': 'MyCMSBundle:CMSFrontend:_news.html.twig'
            })) }}
        </div>
    </div>
</div>