parameters:
    database_driver         : pdo_mysql
    database_driver_short   : mysql
    database_host           : 127.0.0.1
    database_port           : ~
    database_name           : symfony
    database_user           : root
    database_password       : ~

    mailer_transport        : smtp
    mailer_host             : 127.0.0.1
    mailer_user             : ~
    mailer_password         : ~
    mailer_encryption       : ~
    mailer_port             : ~

    dev_email               : me@example.com

    locale                  : en
    secret                  : ThisTokenIsNotSoSecretChangeIt

    base_host               : http://www.foo.com

    sonata_admin.title      : PureThink
    sonata_admin.logo_title : images/logo_big.png

    sonata_media.cdn.host   : /uploads
