<div id="footer">
    <div class="container">
        <div class="left">
            {{ sonata_block_render({ "type": "my.cms.block.menu", "settings": {
                "name": "Footer",
                "locale": locale,
                "home": true,
                "login": true
            } }) }}
        </div>
        <div class="right">
            <span>All rights reserved 2013.</span>
        </div>
    </div>
</div>