<div id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "my.cms.block.component", "settings": { "template": "MyCMSBundle:Frontend:_news.html.twig", "slug": "lorem-ipsum-dolom-news-1", "locale": locale } }) }}

            </div>
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "my.cms.block.component", "settings": { "template": "MyCMSBundle:Frontend:_news.html.twig", "slug": "lorem-ipsum-dolom-news-2", "locale": locale } }) }}
            </div>
            <div class="col-md-4">
                {{ sonata_block_render({ "type": "my.cms.block.component", "settings": { "template": "MyCMSBundle:Frontend:_news.html.twig", "slug": "lorem-ipsum-dolom-news-3", "locale": locale } }) }}
            </div>
        </div>
    </div>
</div>