<form id="search-form" action="{{ path('search', { 'locale': locale }) }}" method="GET">
    <div id="search_box">
        <input name="article" type="text" placeholder="Wyszukaj na stronie..." />
        <i class="fa fa-search"></i>
    </div>
</form>