<div class="header">
    <h2>Edycja użytkownika</h2>
</div>

<div class="container">
    <form action="{{ path('my_user_user_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyUserBundle:User:_form.html.twig' with { 'form': form } %}
    </form>
</div>