{% if languages|length > 1 %}
    <ul id="language">
        {% for language in languages %}
            <li class="{{ language.alias|upper == app.request.locale|upper ? 'selected' : '' }}">
                <a href="{{ path('change_locale', { '_locale': language.alias|lower }) }}">{{ language.alias|upper }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}