<div class="header">
    <h2>Edycja elementu</h2>
</div>

<div class="container">
    <form action="{{ path('purethink_cms_componenthaselement_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'PurethinkCMSBundle:ComponentHasElement:_form.html.twig' with { 'form': form } %}
    </form>
</div>