<div class="header">
    <h2>Edycja pliku</h2>
</div>

<div class="container">
    <form action="{{ path('purethink_file_file_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'PurethinkFileBundle:File:_form.html.twig' with { 'form': form } %}
    </form>
</div>