<div class="header">
    <h2>Edycja pliku</h2>
</div>

<div class="container">
    <form action="{{ path('my_file_file_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyFileBundle:File:_form.html.twig' with { 'form': form } %}
    </form>
</div>