.edit_container_button_gradient() {
    .gradient(#84CC5E, #6AC03D, #6BC23E, #5CB85C);
}

.edit_container_button_hover_gradient() {
    .gradient(#6AC03D, #6BC23E, #6BC23E, #5CB85C);
}

.gradient(@color1, @color2, @color3, @color4) {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, @color1), color-stop(50%, @color2), color-stop(52%, @color3), color-stop(100%, @color4));
    background: -webkit-linear-gradient(top, @color1 20%, @color2 50%, @color3 52%, @color4 100%);
    background: -moz-linear-gradient(top, @color1 20%, @color2 50%, @color3 52%, @color4 100%);
    background: -o-linear-gradient(top, @color1 20%, @color2 50%, @color3 52%, @color4 100%);
    background: linear-gradient(top, @color1 20%, @color2 50%, @color3 52%, @color4 100%);
}