<div id="news">
    <div class="container">
        <div class="row">
            {{ sonata_block_render({ "type": 'purethink.cms.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'lorem-ipsum-dolom-news-1'} }) }}
            {{ sonata_block_render({ "type": 'purethink.cms.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'lorem-ipsum-dolom-news-2'} }) }}
            {{ sonata_block_render({ "type": 'purethink.cms.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'lorem-ipsum-dolom-news-3'} }) }}
        </div>
    </div>
</div>