<div id="news">
    <div class="container">
        <div class="row">
            {{ sonata_block_render({ "type": 'app.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'news'} }) }}
            {{ sonata_block_render({ "type": 'app.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'news-1'} }) }}
            {{ sonata_block_render({ "type": 'app.block.component', 'settings': {'template': ':Page:_news.html.twig', 'slug': 'news-2'} }) }}
        </div>
    </div>
</div>