<form id="search-form" action="{{ path('app_page_searchlist', { 'locale': app.request.locale }) }}" method="GET" class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Wyszukaj na stronie...">
    </div>
    <button type="submit" class="btn btn-default">Szukaj</button>
</form>