<div class="header">
    <h2>Edycja witryny</h2>
</div>

<div class="container">
    <form action="{{ path('purethink_cms_website_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'PurethinkCMSBundle:WebSite:_form.html.twig' with { 'form': form } %}
    </form>
</div>