* {
    margin: 0;
    padding: 0;
    border: 0 none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
a {
    text-decoration: none;
}
#main_line {
    position: fixed;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #E7E7E7;
    background-color: #FCFCFC;
    z-index: 60;
    left: 0;
    top: 121px;
}
#main {
    position: relative;
    margin-top: 155px;
    margin-left: 250px;
    overflow: visible;
}
#main.hide_menu {
    margin-left: 0;
}
.loading {
    position: relative;
    width: 100%;
    height: 80px;
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}