#main_button {
    position: fixed;
    width: 100%;
    height: 46px;
    top: 74px;
    z-index: 100;
    background-color: #f7f7f7;
    border-bottom: 1px solid #E7E7E7;
}
#main_button > .left {
    position: relative;
    float: left;
    width: 250px;
    height: 100%;
}
#main_button > .left > button#create {
    position: relative;
    float: left;
    height: 28px;
    font-size: 11px;
    text-transform: uppercase;
    color: #FCFCFC;
    background-color: #4d90fe;
    border: 1px solid #e2e2e2;
    width: 115px;
    margin: 9px 0 0 40px;
    border-radius: 4px;
    cursor: pointer;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #4d90fe), color-stop(50%, #518ded), color-stop(52%, #3b82f5), color-stop(100%, #2371ed));
    background: -webkit-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: -moz-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: -o-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
}
#main_button > .left > button#create:hover {
    background-color: #3480FE;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #518ded), color-stop(50%, #3b82f5), color-stop(52%, #3b82f5), color-stop(100%, #2371ed));
    background: -webkit-linear-gradient(top, #518ded 20%, #3b82f5 50%, #3b82f5 52%, #2371ed 100%);
    background: -moz-linear-gradient(top, #518ded 20%, #3b82f5 50%, #3b82f5 52%, #2371ed 100%);
    background: -o-linear-gradient(top, #518ded 20%, #3b82f5 50%, #3b82f5 52%, #2371ed 100%);
    background: linear-gradient(top, #518ded 20%, #3b82f5 50%, #3b82f5 52%, #2371ed 100%);
}
#main_button > .left.disable > button#create {
    opacity: 0.6;
}
#main_button > .left.disable > button#create:hover {
    background-color: #4d90fe;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #4d90fe), color-stop(50%, #518ded), color-stop(52%, #3b82f5), color-stop(100%, #2371ed));
    background: -webkit-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: -moz-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: -o-linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
    background: linear-gradient(top, #4d90fe 20%, #518ded 50%, #3b82f5 52%, #2371ed 100%);
}
#main_button > .center {
    position: relative;
    float: left;
    height: 100%;
}
#main_button > .center > .button_container {
    position: relative;
    float: left;
    height: 26px;
    margin: 9px 10px 0 0;
    background-color: #FAFAFA;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f6f6f6), color-stop(50%, #EFF1F5), color-stop(52%, #EDEFF3), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -moz-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
}
#main_button > .center > .button_container > button {
    position: relative;
    float: left;
    height: 26px;
    width: 59px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#main_button > .center > .button_container:hover {
    background-color: #F5F5F5;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #EFF1F5), color-stop(50%, #EDEFF3), color-stop(52%, #EDEFF3), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #EFF1F5 20%, #EDEFF3 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -moz-linear-gradient(top, #EFF1F5 20%, #EDEFF3 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -o-linear-gradient(top, #EFF1F5 20%, #EDEFF3 50%, #EDEFF3 52%, #eeeeee 100%);
    background: linear-gradient(top, #EFF1F5 20%, #EDEFF3 50%, #EDEFF3 52%, #eeeeee 100%);
}
#main_button > .center > .button_container.disable {
    opacity: 0.6;
}
#main_button > .center > .button_container.disable:hover {
    background-color: #FAFAFA;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f6f6f6), color-stop(50%, #EFF1F5), color-stop(52%, #EDEFF3), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -moz-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
    background: linear-gradient(top, #f6f6f6 20%, #EFF1F5 50%, #EDEFF3 52%, #eeeeee 100%);
}
#main_button > .center > .button_container > button.select {
    background-image: url("../images/select.png");
}
#main_button > .center > .button_container > button.refresh {
    background-image: url("../images/refresh.png");
}
#main_button > .center > .button_container > button.edit {
    background-image: url("../images/edit.png");
}
#main_button > .center > .button_container > button.remove,
#main_button > .center > .button_container > button.cancel {
    background-image: url("../images/remove.png");
}
#main_button > .center > .button_container > button.more {
    background-image: url("../images/more.png");
}
#main_button > .center > .button_container > button.save {
    background-image: url("../images/save.png");
}
#main_button > .center > .button_container > button.apply {
    background-image: url("../images/apply.png");
}