#notify_container {
    position: fixed;
    z-index: 1000;
    width: 301px;
    top: 60px;
    right: 0;
}
#notify_container > .notify {
    position: relative;
    float: right;
    width: 300px;
    height: 50px;
    background-color: #7A7A7A;
    border: 1px solid #707070;
    border-width: 1px 0 1px 1px;
    opacity: 0.9;
    margin-bottom: 10px;
}
#notify_container > .notify > .left {
    position: relative;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-right: 1px solid #707070;
    height: 100%;
    width: 50px;
}
#notify_container > .notify.success > .left {
    background-color: #9ad459;
    background-image: url("../images/success.png");
}
#notify_container > .notify.fail > .left {
    background-color: #c94654;
    background-image: url("../images/fail.png");
}
#notify_container > .notify > .close {
    position: relative;
    float: right;
    text-align: center;
    width: 26px;
    font-size: 12px;
    color: #f2f2f2;
    height: 12px;
    padding: 6px 0 8px;
    border: 1px solid #707070;
    border-width: 0 0 1px 1px;
    background-color: #878787;
    cursor: pointer;
}
#notify_container > .notify > .close:hover {
    background-color: #828282;
}
#notify_container > .notify > span {
    position: relative;
    float: left;
    width: 210px;
    color: #f2f2f2;
    margin: 9px 0 0 11px;
    font-size: 9px;
}
#notify_container > .notify > span > span.hover {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}