<div id="cookie">
    <div class="container">
        {% for key, cookie in entities if key != 'title' %}
            <h5>{{ cookie['nazwa'] }}</h5>
            <a class="close"><i class="glyphicon glyphicon-remove"></i></a>

            <p>{{ cookie['tresc'] }} <a href="{{ path('article', { 'locale': app.request.locale, 'category': cookie['adres'].category, 'slug': cookie['adres'].slug }) }}">Dowiedz się więcej</a>.</p>
        {% endfor %}
    </div>
</div>