<div id="footer">
    <div class="container">
        <div class="left">
            {{ component['position-3']|raw }}
        </div>
        <div class="right">
            <span>All rights reserved 2013.</span>
        </div>
    </div>
</div>