{% if entities != null %}
    <div id="links">
        <div class="container">
            <h3>{{ entities['title'] }}</h3>
            <ul class="row">
                {% for key, link in entities if key != 'title' %}
                    <li class="col-xs-6 col-sm-4 col-md-3">
                        <a href="{{ path('article', { 'locale': app.request.locale, 'category': link['adres'].category, 'slug': link['adres'].slug }) }}">{{ link['nazwa'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}