{% if entities != null %}
    <div id="links">
        <div class="container">
            <h3>{{ entities['title'] }}</h3>
            <ul>
                {% for key, link in entities if key != 'title' %}
                    <li>
                        <a href="{{ path('article', { 'locale': app.request.locale, 'category': link['adres'].category, 'slug': link['adres'].slug }) }}">{{ link['nazwa'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}