<div id="news">
    <div class="container">
        <div class="row">
            {{ component['position-6']|raw }}
            {{ component['position-7']|raw }}
            {{ component['position-8']|raw }}
        </div>
    </div>
</div>