<form id="search-form" action="{{ path('purethink_cms_page_searchlist', { 'locale': app.request.locale }) }}" method="GET">
    <div id="search_box">
        <input name="query" type="text" placeholder="Wyszukaj na stronie..." />
        <span class="glyphicon glyphicon-search"></span>
    </div>
</form>