{% extends template.scriptPath~":layout.html.twig" %}

{% set meta = article %}

{% block body %}
    {{ parent() }}

    <div id="article">
        <div class="container">
            {{ sonata_block_render({ "type": "purethink.cms.block.article" }) }}
        </div>
    </div>

    {{ sonata_block_render({ "type": "purethink.cms.block.component", "settings": {
        "template": template.scriptPath~":_link.html.twig",
        "slug": "linki"
    } }) }}

    {% include template.scriptPath~':_footer.html.twig' %}
{% endblock body %}