{% extends template.scriptPath~":layout.html.twig" %}

{% set meta = article %}

{% block body %}
    {{ parent() }}

    <div id="article">
        <div class="container">
            {{ component['position-0']|raw }}
        </div>
    </div>

    {{ component['position-5']|raw }}

    {% include template.scriptPath~':_footer.html.twig' %}
{% endblock body %}