{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_page_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('page') }}">Homepage</a></li>
        <li><a href="{{ path('sonata_user_profile_show') }}">Profile</a></li>
        <li class="active">Change password</li>
    </ol>
{% endblock %}

{% block sonata_profile_content %}
    {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock sonata_profile_content %}
