<div class="header">
    <h2>Edycja kolumny rozszerzenia</h2>
</div>

<div class="container">
    <form action="{{ path('my_cms_componenthascolumn_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:ComponentHasColumn:_form.html.twig' with { 'form': form } %}
    </form>
</div>