<div id="logo">
	<a href="{{ path('admin') }}"><img src="{{ asset('images/logo_small.png') }}" alt="logo" /></a>
</div>
<div id="search">
	<div id="search_box">
		<input type="text" placeholder="Szukaj..." />
        <i class="fa fa-search"></i>
	</div>
</div>
<div id="top_menu_right">
	{% include 'MyAdminBundle:Admin:_top_menu_right.html.twig' %}
</div>