<div class="header">
    <h2>Dodaj menu</h2>
</div>

<div class="container">
    <form action="{{ path('cmsmenu_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:CMSMenu:_form.html.twig' with { 'form': form } %}
    </form>
</div>