<div class="article">
    <div class="page-header">
        <h3>{{ article.name }}</h3>
        <h5 class="datetime">{{ article.created|format_datetime('dd MMM Y HH:mm') }}</h5>
    </div>

    {{ article.content|raw }}
</div>