<div class="header">
    <h2>Dodaj element</h2>
</div>

<div class="container">
    <form action="{{ path('cmscomponentonpagehaselement_create') }}" method="post" {{ form_enctype(form) }}>
        {% include 'MyCMSBundle:CMSComponentOnPageHasElement:_form.html.twig' with { 'form': form } %}
    </form>
</div>