<div id="baner">
    <div class="container">
        <a href="#">
            <img src="{{ asset('bundles/cms/frontend/fresh_style/images/baner_1.png') }}" alt="" />
        </a>
        <a href="#">
            <img src="{{ asset('bundles/cms/frontend/fresh_style/images/baner_1.png') }}" alt="" />
        </a>
        <a href="#">
            <img src="{{ asset('bundles/cms/frontend/fresh_style/images/baner_1.png') }}" alt="" />
        </a>
    </div>
</div>