<div id="footer">
    <div class="container">
        <div class="left">
            {% include 'MyFrontendBundle:Default:_menu.html.twig' with { 'menus': menus['Footer'], 'locale': locale, 'home': true } %}
        </div>
        <div class="right">
            <span>All righgts reserved 2013.</span>
        </div>
    </div>
</div>