<ul>
    {% if home %}
        <li class="selected">
            <a href="{{ path('localized_frontend', {'locale': locale}) }}">Home</a>
        </li>
    {% endif %}
    {% for menu in menus %}
        <li class="{{ menu.menus|length > 0 ? 'has_submenu' : '' }}">
            {% set slug = menu.article.slug  %}
            {% set slug2 = (slug2 is defined) ? slug2 : false %}

            {% if (slug2) %}
                {% set temp = slug %}
                {% set slug = slug2 %}
                {% set slug2 = temp %}
            {% endif %}
            <a href="{{ path('article', {'locale': locale, 'slug': slug, 'slug2': slug2}) }}">{{ menu }}</a>
            {% if menu.menus|length > 0 %}
                {% include 'MyFrontendBundle:Default:_menu.html.twig' with { 'menus': menu.menus, 'locale': locale, 'home': false, 'slug2': menu.slug } %}
            {% endif %}
        </li>
    {% endfor %}
</ul>