{% extends "MyUserBundle::layout.html.twig" %}

{% block title %}
    PureThink - Resetting
{% endblock title %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {{ parent() }}

    <div id="login_container">
        <div id="login">
            <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
        </div>

        <ul class="links">
            <li><a href="{{ path("fos_user_security_login") }}">Wróć na stronę logowania</a></li>
            <li><a href="{{ path("frontend") }}">Wróć na stronę główną</a></li>
        </ul>
    </div>
{% endblock body %}
